@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1A73E8; /* Bright blue for buttons and links */
  --secondary-color: #FF9800; /* Orange for accent elements */
  --background-color: #F4F7F9; /* Light grey for the background */
  --text-color: #333333; /* Dark grey for primary text */
  --muted-text-color: #757575; /* Light grey for secondary text */
  --border-color: #E0E0E0; /* Light border for cards and elements */
  --card-background: #FFFFFF; /* White for product cards */
  --success-color: #4CAF50; /* Green for success messages (e.g., after a successful login) */
  --error-color: #F44336; /* Red for error messages */
  --button-hover-color: #1665C0; /* Darker shade for primary button hover */
  --secondary-button-hover-color: #FB8C00; /* Darker shade for secondary button hover */
  --nav-background: #FFFFFF; /* White for the navbar */
  --nav-text-color: #1A73E8; /* Primary color for navbar text */
  --footer-background: #2C2C2C; /* Dark background for the footer */
  --footer-text-color: #F4F7F9; /* Light text for the footer */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--background-color);
  color: var(--text-color);
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.card {
  background: var(--card-background);
}

.primary-btn {
  background: var(--primary-color);
  color: var(--background-color);
  transition: all ease-in-out 150ms;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
}

.secondary-btn {
  background: var(--success-color);
  color: var(--background-color);
  transition: all ease-in-out 150ms;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
}

.primary-btn:hover {
  background: var(--button-hover-color);
}
.secondary-btn:hover {
  background: #378139;
}


.navbar {
  background: var(--nav-background);
}

.navbar a {
  color: var(--nav-text-color);
  transition: all ease-in-out 150ms;
}

.navbar a:hover {
  color: var(--button-hover-color);
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* For large screens (lg) */
@media (min-width: 1024px) {
  .main-container {
    padding-left: 0.5rem;  
    padding-right: 0.5rem; 
  }
}

/* For extra-large screens (xl) */
@media (min-width: 1280px) {
  .main-container {
    padding-left: 0.25rem;  
    padding-right: 0.25rem; 
  }
}

.hero {
  background: linear-gradient(135deg, #F4F7F9, #B0BEC5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.text {
  color: var(--muted-text-color);
}

.newsletter-bg {
  background: #e7f0fc;
}

footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
}

a {
  transition: all ease-in-out 150ms;
}

a:hover {
  color: var(--primary-color);
}